@page
@model InventoryDBRazor.Pages.maint.tools.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListTools[0].ToolName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListTools) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToolName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ToolId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ToolId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ToolId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
