@page "{unauth?}"
@model InventoryDBRazor.Pages.IndexModel
@{var unauth = Model.RouteData.Values["unauth"];}
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



@if (unauth != null) {
    <script>alert("You are not authorized to make changes.")</script>
}


<div class="row">
    <div class="column">
        <h2># of Products by Type</h2>
        <table class="hoverTable text-nowrap">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        # of Each Product
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var count in Model.ToolCount)
                {
                    <tr class="table; text-nowrap">
                        <td>
                            <a asp-page="List" asp-route-tool="@count.ToolID">@Html.DisplayFor(modelCount => count.ToolName)</a>
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelCount => count.ToolCount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <h2>&nbsp;</h2>
    </div>
</div>
<div class="row">
    <div class="column">
        <h2 class="text-nowrap">Items with no licensing information in the Database</h2>
        <table class="hoverTable text-nowrap">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        # W/O License Info
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lic in Model.NoLicCount)
                {
                    <tr class="table; text-nowrap">
                        <td>
                            <a asp-page="List" asp-route-tool="@lic.ToolID">@Html.DisplayFor(ModelNoLicCount => lic.ToolName)</a>
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(ModelNoLicCount => lic.NoLicCount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="column">
        <h2>Licenses Expired</h2>
        <table class="hoverTable text-nowrap">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        # of Each Product
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exp in Model.ExpLicCount)
                {
                    <tr class="table; text-nowrap">
                        <td>
                            <a asp-page="List" asp-route-tool="@exp.ToolID">@Html.DisplayFor(expCount => exp.ToolName)</a>
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(expCount => exp.ExpLicCount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>