@page
@model InventoryDBRazor.Pages.ListModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}




</P>
<table class="hoverTable text-nowrap">
    <thead>
        <tr style="padding-left: 5px; padding-right: 5px;">
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].LicenseExpiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].GeoLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].InstalledLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].StorageLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ToolName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr class="text-nowrap">
            <td>
                <a asp-page="ItemDetail" asp-route-id="@item.ItemId" target="_blank">Details</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @if (item.LicenseExpiration < DateTime.Now)
                {
                    <span style="color:crimson;">@item.LicenseExpiration.Value.ToString("d")</span>
                }
                else if (item.LicenseExpiration >= DateTime.Now)
                {
                    <span style="color:forestgreen;">@item.LicenseExpiration.Value.ToString("d")</span>
                }
                else
                {
                    <span style="color:lightgray; font-style:italic">Click "Details" on left and add.</span>
                }

            </td>
            <td>
                <a asp-page="List" asp-route-gloc="@item.GeoLocation">@Html.DisplayFor(modelItem => item.ListLocation.LocationName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstalledLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageLocation)
            </td>
            <td>
                <a asp-page="List" asp-route-tooltype="@item.ItemType">@Html.DisplayFor(modelItem => item.ListToolType.ToolType)</a>
            </td>
            <td>
                <a asp-page="List" asp-route-tool="@item.ToolName">@Html.DisplayFor(modelItem => item.ListTools.ToolName)</a>
            </td>
        </tr>
        }
    </tbody>
</table>
