@page
@model ItemDetailCreate
@{var username = User.Identity.Name;}


@{
    ViewData["Title"] = "Item Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <form method="post">
        <br />
        <div>
            <table>
                <tr>
                    <td style="font-size:x-large; color:blue"><input asp-for="ItemDetail.ItemName" value="Item Name" /> | <input asp-for="ItemDetail.ItemDescription" value="Item Description" /></td>
                </tr>
                <tr>
                    <td><b>Tool:</b> <select asp-for="ItemDetail.ToolName" asp-items="ViewBag.ToolName"></select> <b>Type:</b> <select asp-for="ItemDetail.ItemType" asp-items="ViewBag.ToolType"></select></td>
                </tr>
                <tr>
                    <td><b>Status:</b> <select asp-for="ItemDetail.ListStatus" asp-items="ViewBag.StatusID"></select></td>
                </tr>
            </table>
        </div>

        <div style="border-bottom:1px; border-bottom-style:dashed; border-color: navy;">
            <div>
                <div style="font-size:large; font-weight:bold; padding-top: 20px;">Notes:</div>
                <textarea asp-for="ItemDetail.AdditionalInfo" cols="120" rows="6"></textarea>
            </div>
        </div>


        <div style="position:relative; top: 0px; padding-top: 35px; border-bottom:1px; border-bottom-style:dashed; border-color: navy;">
            <div style="font-size:large; font-weight:bold; color: cornflowerblue;">Basic Information</div>
            <table width="100%" align="top">
                <tr>
                    <td valign="top" width="25%"><b>Vendor:</b><br /><input asp-for="ItemDetail.Vendor" title="Name of the item vendor (IBM, Bluecoat, etc.)" /></td>
                    <td valign="top" width="25%"><b>Model Number:</b><br /><input asp-for="ItemDetail.ModelNumber" title="Model number of the item (XGS 5100, 1628-C, etc.)" /></td>
                    <td valign="top" width="25%"><b>Serial Number:</b><br /><input asp-for="ItemDetail.SerialNumber" title="Serial number of the item" /></td>
                    <td valign="top" width="25%"><b>Serial Number 2:</b><br /><input asp-for="ItemDetail.SerialNumber2" title="Use when a second serial is present (such as a QRadar collector on a Dell server)"/></td>
                </tr>
                <tr>
                    <td valign="top"><b>State Asset Tag:</b><br /><input asp-for="ItemDetail.StateAssetTag" /></td>
                    <td valign="top"><b>Product Key:</b><br /><input asp-for="ItemDetail.ProductKey" /></td>
                    <td valign="top"><b>Firmware Version:</b><br /><input asp-for="ItemDetail.FirmwareVersion" /></td>
                    <td valign="top"><b>Software Version:</b><br /><input asp-for="ItemDetail.SoftwareVersion" /></td>
                </tr>
                <tr>
                    <td valign="top"><b>Manufacturer:</b><br /><input asp-for="ItemDetail.Manufacturer" /></td>
                    <td valign="top"><b>End of Life:</b><br /><input asp-for="ItemDetail.Eoldate" /></td>
                    <td valign="top"><b>End of Service:</b><br /><input asp-for="ItemDetail.Eosdate" /></td>
                    <td valign="top">
                        &nbsp;<br />
                    </td>
                </tr>
            </table>
        </div>

        <div style="position:relative; clear:both; padding-top: 35px; border-bottom:1px; border-bottom-style:dashed; border-color: navy;">
            <div style="font-size:large; font-weight:bold; color: cornflowerblue;">Location Information</div>
            <table width="100%">
                <tr>
                    <th width="25%">@Html.DisplayNameFor(model => model.ItemDetail.ListLocation.LocationName)</th>
                    <th width="25%">@Html.DisplayNameFor(model => model.ItemDetail.InstalledLocation)</th>
                    <th width="25%">@Html.DisplayNameFor(model => model.ItemDetail.InstalledLocation2)</th>
                    <th width="25%">@Html.DisplayNameFor(model => model.ItemDetail.StorageLocation)</th>
                </tr>
                <tr>
                    <td><select asp-for="ItemDetail.GeoLocation" asp-items="ViewBag.GeoLocation"></select></td>
                    <td><input asp-for="ItemDetail.InstalledLocation" /></td>
                    <td><input asp-for="ItemDetail.InstalledLocation2" /></td>
                    <td><input asp-for="ItemDetail.StorageLocation" /></td>
                </tr>
            </table>
        </div>


        <div style="position:relative; clear:both; padding-top: 35px; border-bottom:1px; border-bottom-style:dashed; border-color: navy;">
            <div style="font-size:large; font-weight:bold; color: cornflowerblue;">VM Information</div>
            <table width="100%">
                <tr>
                    <th width="33%">@Html.DisplayNameFor(model => model.ItemDetail.Vm_Ram)</th>
                    <th width="33%">@Html.DisplayNameFor(model => model.ItemDetail.Vm_Cpu)</th>
                    <th width="33%">@Html.DisplayNameFor(model => model.ItemDetail.Vm_Os)</th>
                </tr>
                <tr>
                    <td><input asp-for="ItemDetail.Vm_Ram" /></td>
                    <td><input asp-for="ItemDetail.Vm_Cpu" /></td>
                    <td><input asp-for="ItemDetail.Vm_Os" /></td>
                </tr>
            </table>
        </div>

        <div style="position:relative; clear:both; padding-top: 35px; border-bottom:1px; border-bottom-style:dashed; border-color: navy;">
            <div style="font-size:large; font-weight:bold; color :cornflowerblue">Network Information</div>

            @*<table width="100%">
                    <tr>
                        <th width="14%">IPAddress</th>
                        <th width="18%">Hostname</th>
                        <th width="13%">Netmask</th>
                        <th width="11%">Gateway</th>
                        <th width="11%">DNS Zone</th>
                        <th width="11%">DNS 1</th>
                        <th width="11%">DNS 2</th>
                        <th width="11%">DNS 3</th>
                    </tr>
                        <tr>
                            <td>@item.IPAddress</td>
                            <td>@item.hostname</td>
                            <td>@item.netmask</td>
                            <td>@item.gateway</td>
                            <td>@item.DNSZone</td>
                            <td>@item.DNS1</td>
                            <td>@item.DNS2</td>
                            <td>@item.DNS3</td>
                            <td><a asp-page="/maint/ipinfo/edit" asp-route-id="@item.IPID">Edit</a></td>
                            <td><a asp-page="/maint/ipinfo/create" asp-route-id="@item.itemID">Add</a></td>
                            <td><a asp-page="/maint/ipinfo/delete" asp-route-id="@item.IPID">Delete</a></td>
                        </tr>

                </table>*@

        </div>
        <div style="position:relative; clear:both; padding-top: 35px; border-bottom:1px; border-bottom-style:dashed; border-color: navy;">
            <div style="font-size:large; font-weight:bold; color: cornflowerblue;">License Information</div>
            <table width="100%">
                <tr>
                    <th width="16.67%">@Html.DisplayNameFor(model => model.ItemDetail.LicenseStatus)</th>
                    <th width="16.67%">@Html.DisplayNameFor(model => model.ItemDetail.LicenseMethod)</th>
                    <th width="16.67%">@Html.DisplayNameFor(model => model.ItemDetail.LicenseQuantity)</th>
                    <th width="16.67%">@Html.DisplayNameFor(model => model.ItemDetail.LicenseExpiration)</th>
                    <th width="16.67%">@Html.DisplayNameFor(model => model.ItemDetail.LicenseFrequency)</th>
                    <th width="16.67%">@Html.DisplayNameFor(model => model.ItemDetail.LicensePartNumber)</th>
                </tr>
                <tr>
                    <td><input asp-for="ItemDetail.LicenseStatus" /></td>
                    <td><input asp-for="ItemDetail.LicenseMethod" /></td>
                    <td><input asp-for="ItemDetail.LicenseQuantity" /></td>
                    <td><input asp-for="ItemDetail.LicenseExpiration" /></td>
                    <td><input asp-for="ItemDetail.LicenseFrequency" /></td>
                    <td><input asp-for="ItemDetail.LicensePartNumber" /></td>
                </tr>
            </table>
        </div>

        <div style="position:relative; clear:both; padding-top: 35px; border-bottom:1px; border-bottom-style:dashed; border-color: navy;">
            <div style="font-size:large; font-weight:bold; color: cornflowerblue;">Order Information</div>
            <table width="100%">
                <tr>
                    <th width="18%">@Html.DisplayNameFor(model => model.ItemDetail.RequestForQuote)</th>
                    <th width="25%">@Html.DisplayNameFor(model => model.ItemDetail.SelectedQuote)</th>
                    <th width="18%">@Html.DisplayNameFor(model => model.ItemDetail.AgencyPurchaseRequest)</th>
                    <th width="19%">@Html.DisplayNameFor(model => model.ItemDetail.PurchaseOrder)</th>
                    <th width="20%">&nbsp;</th>
                </tr>
                <tr>
                    <td><input asp-for="ItemDetail.RequestForQuote" /></td>
                    <td><input asp-for="ItemDetail.SelectedQuote" /></td>
                    <td><input asp-for="ItemDetail.AgencyPurchaseRequest" /></td>
                    <td><input asp-for="ItemDetail.PurchaseOrder" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ItemDetail.OrderDate)</th>
                    <th>@Html.DisplayNameFor(model => model.ItemDetail.PurchaseCost)</th>
                    <th>@Html.DisplayNameFor(model => model.ItemDetail.SupportCost)</th>
                </tr>
                <tr>
                    <td><input asp-for="ItemDetail.OrderDate" /></td>
                    <td><input asp-for="ItemDetail.PurchaseCost" /></td>
                    <td><input asp-for="ItemDetail.SupportCost" /></td>
                </tr>
            </table>
        </div>
        <br />
        <input type="submit" value="Create" class="btn btn-default" /> | <a asp-page="/Admin">Back to Admin</a>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}